@charset "utf-8";
/* CSS Document */

html{
	font-size:75%;
	height:100%;
}
body{
	margin:0;
	padding:0;
	background:white;
	height:100%;
	position:relative;
	min-width:760px;
	min-height:400px;
	font: normal 1em/1.3 "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	color:#333;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding:1em 0;
}

h1{	font-size: 24pt; font-weight:normal;}
h2{	font-size: 16pt; }
h3{	font-size: 14pt; }
h4{	font-size: 11pt; }

a{
	color:#455560;
}
a:hover{
	color:#0093d0;
}
a img{
	border:0;
}

#Wrapper{
	position:relative;
	min-height:100%;
}

</*******************  Common styles   *********************/>

.clear{ clear:both; }
.relative{	position:relative; }
.thin{	font-weight:normal; }


table.rich-calendar-popup td {color:black;}