.cells {
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
}

/*calendar styles*/
.body {
  background: PowderBlue;
}

.daysHeader {
  background: #A8FFFE;
}

.inactiveMonthDay {
  color: yellow;
}

.day {
  color: red;
}

.disabledDay {
  color: blue;
}

.footer {
  background: #12FF28;
}

.headerCalendar {
  background: #FF36F8;
}

.rolloverDay {
  font-weight: bold;
}

.rolloverDisabledDay {
  color: darkgreen;
}

.rolloverInactiveMonthDay {
  color: aquamarine;
}

.rolloverSelectedDay {
  background: orange;
  font-weight: bold;
}

.rolloverToday {
  border: 1px solid black;
}

.rolloverWeekendDay {
  background: red;
}

.weekendDay {
  border: 1px dotted RoyalBlue;
}

.selectedDay {
  border: 1px solid SpringGreen;
}

.today {
  color: Teal;
}

/*cofirmation styles*/
.buttonArea {
  background: blue;
}

.cancelButton {
  border: 1px dashed black;
}

.caption {
  border: 1px dashed white;
}

.details {
  color: red;
}

.iconArea {
  border: 1px solid orange;
}

.message {
  color: blue;
}

.middleArea {
  background: beige;
}

.modalLayerConfirmation {
  background: url( confirmation/ground_Camus.gif );
}

.okButton {
  border: 1px dashed pink;
}

.rolloverButtonArea {
  background: azure;
}

.rolloverCancelButton {
  border: 3px dashed black;
}

.rolloverDetails {
  font-weight: bold;
}

.rolloverIconArea {
  border: 3px solid red;
}

.rolloverMessage {
  color: green;
}

.rolloverMiddleArea {
  background: orange;
}

.rolloverOkButton {
  border: 3px dashed pink;
}

.confirmationStyle {
  border: 3px solid black;
}

/*hint label styles*/
.hintLabelStyle {
  background: beige;
  border: 1px solid brown;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
}

.hintStyle {
  background: PaleGreen;
  border: 1px solid DarkGreen;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*popup layer styles*/
.modalLayer {
  background: url( confirmation/ground_Camus.gif );
}

.popupStyle {
  background: lightseagreen;
  font-weight: bold;
  padding: 15px 15px 15px 15px;
  border: 1px solid black;
  font-size: 18px;
}

.popupRolloverStyle {
  background: beige;
}

/*tabSet styles*/
.emptySpaceTabSet {
  background: beige;
}

.tab_TabSet {
  background: azure;
  border: 1px dotted darkgreen;
}

.rolloverTab_TabSet {
  background: brown;
  font-weight: bold;
  border: 2px dotted green;
}

.selectedTab_TabSet {
  background: pink;
  border: 1px solid black;
}

.rolloverSelectedTab_TabSet {
  border: 2px dashed blue;
}

.focused_TabSet {
  border: 1px dashed blue;
}



.tabSetStyle {
  border: 3px solid lightGreen;
}

/*tabbedPane styles*/
.containerTabbedPane {
  background: beige;
}

.tabEmptySpace {
  background: LightBlue;
}

.tab {
  color: red;
}

.tabbedPaneStyle {
  height: 300px;
  width: 200px;
}

.selectedTab {
  background: DarkGreen;
  font-weight: bold;
  color: white;
}

.rolloverContainer {
  border: 2px dotted blue;
}

.rolloverSelectedTab {
  background: LightGreen;
  font-weight: bold;
}

.rollover {
  border: 2px dashed lightGreen;
}

.rolloverTab {
  font-weight: bold;
}

/*dataTable styles*/
.entireTable {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.bodyOddRowTable {
  background: #F8FFA8;
}

.bodyRowTable {
  background: #D0FFFE;
}

.bodySectionTable {
  color: #13731E;
}

.commonFooterRowTable {
  background: #3333AF;
  border: 1px dashed yellow;
}

.commonHeaderRowTable {
  background: #C90EBE;
  color: white;
}

.filterRowTable {
  color: SlateBlue;
  font-weight: bold;
  background: NavajoWhite;
}

.focusedTable {
  border: 2px solid yellow ! important;
}

.footerRowTable {
  background: Teal;
  border: 2px solid Salmon;
}

.footerSectionTable {
  font-weight: bold;
}

.headerRowTable {
  background: LightSlateGray;
  border: 3px solid red;
}

.headerSectionTable {
  font-weight: normal;
}

.rolloverRowTable {
  background: gray;
  color: white;
  font-weight: bold;
}

.rolloverTable {
  border: 3px solid black;
}

.sortedColumnBodyTable {
  font-weight: bold;
}

.noDataRowTable {
  color: darkgreen;
  font-weight: bold;
}

.sortedColumnTable {
  background: IndianRed;
}

.sortedColumnFooterTable {
  background: Salmon;
  border: 2px solid Teal;
}

.sortedColumnHeaderTable {
  background: yellow;
}

/*TLS styles*/
.TLSStyle {
  border: 2px solid yellow;
}

.TLSbuttonStyle {
  color: red;
}

.TLSheaderStyle {
  font-family: Tahoma, serif;
  font-weight: bold;
  font-size: 12px;
  color: blue;
}

.TLSlistStyle {
  background: buttonface;
  font-family: 'ParkAvenue BT' Tahoma, fantasy;
  color: purple;
  font-size: 20px;
  width: 200px;
}

/*TreeTable styles*/
.filterAcceptedRowTree {
  font: Comic Sans MS;
  font-size: 24px;
}

.filterSubsidiaryRowTree {
  font: Comic Sans MS;
  font-size: 10px;
}

.bodyOddRowTree {
  background: #F8FFA8;
}

.bodyRowTree {
  background: #D0FFFE;
}

.bodySectionTree {
  color: #13731E;
}

.commonFooterRowTree {
  background: #3333AF;
  border: 1px dashed yellow;
}

.commonHeaderRowTree {
  background: #C90EBE;
  color: white;
}

.filterRowTree {
  color: SlateBlue;
  font-weight: bold;
  background: NavajoWhite;
}

.focusedTree {
  border: 2px solid yellow;
}

.footerRowTree {
  background: Teal;
  border: 2px solid Salmon;
}

.footerSectionTree {
  font-weight: bold;
}

.headerRowTree {
  background: LightSlateGray;
  border: 3px solid red;
}

.headerSectionTree {
  font-weight: normal;
}

.rolloverRowTree {
  background: gray;
  color: white;
  font-weight: bold;
}

.rolloverTree {
  border: 3px solid black;
}

.sortedColumnBodyTree {
  font-weight: bold;
}

.noDataRowTree {
  color: darkgreen;
  font-weight: bold;
}

.sortedColumnTree {
  background: IndianRed;
}

.sortedColumnFooterTree {
  background: Salmon;
  border: 2px solid Teal;
}

.sortedColumnHeaderTree {
  background: yellow;
}

.nodeSelection {
  color: blue;
}

/*FoldingPanel styles*/
.styleFP {
  border: 2px dashed LawnGreen;
}

.captionFP {
  background: MediumSlateBlue;
  font-weight: bold;
  font-size: 18px;
}

.contentFP {
  background: LightSkyBlue;
  color: DarkBlue;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
}

/*DateChooser styles*/
.calendarDch {
  border: 3px dotted red;
}

.daysHeaderDch {
  background: #A8FFFE;
}

.dayDch {
  color: red;
}

.disabledDayDch {
  color: blue;
}

.footerDch {
  background: #12FF28;
}

.headerDch {
  background: #FF36F8;
}

.inactiveMonthDayDCh {
  color: yellow;
}

.rolloverDayDch {
  font-weight: bold;
}

.rolloverDisabledDayDch {
  color: darkgreen;
}

.rolloverInactiveMonthDayDCh {
  color: aquamarine;
}

.rolloverSelectedDayDch {
  background: orange;
  font-weight: bold;
}

.rolloverTodayDch {
  border: 1px solid black;
}

.rolloverWeekendDayDch {
  background: red;
}

.weekendDayDch {
  border: 1px dotted RoyalBlue;
}

.selectedDayDch {
  border: 1px solid SpringGreen;
}

.styleDch {
  width: 230px !important;
  border: 1px solid red;
}

.todayDch {
  color: Teal;
}

/*DropDOwn styles*/
.buttonDD {
  border: 1px solid blue;
  background: PowderBlue;
}

.fieldDD {
  background: GreenYellow;
  font-weight: bold;
}

.listItemDD {
  color: Teal;
  font-size: 18px;
}

.listDD {
  border: 1px dotted red;
}

.rolloverButtonDD {
  border: 2px solid darkgreen;
  background: green;
}

.pressedButtonDD {
  border: 1px solid OrangeRed;
  background: PaleVioletRed;
}

.rolloverFieldDD {
  border: 2px dashed MediumSpringGreen;
}

.rolloverListItemDD {
  color: orange;
  font: Comic Sans MS;
  background: LightGreen;
}

.rolloverListDD {
  border: 3px dotted pink;
}

.rolloverDD {
  border: 1px dotted darkblue;
}

.listFooterRowDD {
  color: white;
}

.listHeaderRowDD {
  text-decoration: underline;
}

.oddListItemDD {
  border: 1px solid green;
  background: bisque;
}

.styleDD {
  width: 230px;
}

/*DynamicImage styles*/
.slyleDI {
  border: 2px solid red;
}

.header {
  vertical-align: top;
  padding: 5px 5px 5px 5px;
  background: azure;
  border-left: 1px solid darkgray;
  border-top: 1px solid darkgray;
  border-bottom: 2px solid darkgray;
  border-right: 2px solid darkgray;
}

.container {
  background: lightyellow;
  padding: 10px 10px 10px 10px;
  border-left: 1px solid darkgray;
  border-top: 1px solid darkgray;
  border-bottom: 2px solid darkgray;
  border-right: 2px solid darkgray;
  text-align: center;
}

.logTitle {
  color: red;
  text-decoration: underline;
}