
.titleLogo { padding-top: 73px;}

.featureList{font-size:125%; padding-left: 123px; margin-bottom: 5em;}
.featureList ul.hang li {background:transparent url(../images/icons/bullet_dash.png) no-repeat scroll left 2px;}

.linksPanel{width: 650px; margin-left: 40px; margin-top: 2em;}

.imagelink {border: 1px solid #f14405;}

.menuHomepage{margin-top:210px !important;}