<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>OpenFaces Test Application</display-name>
  <description>OpenFaces Test Application</description>

  <!--This listener is responsible for bootstrapping Seam,
and for destroying session and application contexts.-->
    <!--
  <listener>
    <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
  </listener>
   -->
    <context-param>
    <param-name>facelets.LIBRARIES</param-name>
    <param-value>
      /faceletsonly/datatable/custom-tag-lib.xml; /faceletsonly/Support/taglib.xml
    </param-value>
  </context-param>

  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>blueSky</param-value>
  </context-param>

  <context-param>
    <param-name>org.richfaces.LoadScriptStrategy</param-name>
    <param-value>DEFAULT</param-value>
  </context-param>

  <context-param>
    <param-name>org.richfaces.LoadStyleStrategy</param-name>
    <param-value>DEFAULT</param-value>
  </context-param>

  <context-param>
    <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
    <param-value>
      false
    </param-value>
  </context-param>

  <context-param>
    <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
    <param-value>com.sun.facelets.FaceletViewHandler</param-value>
  </context-param>

  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>

  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>


  <context-param>
    <param-name>org.openfaces.validation.clientValidation</param-name>
    <param-value>onSubmit</param-value>
  </context-param>

  <context-param>
    <param-name>org.openfaces.validation.disabled</param-name>
    <param-value>false</param-value>
  </context-param>

  <context-param>
    <param-name>org.openfaces.validation.useDefaultClientPresentation</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>org.openfaces.validation.useDefaultServerPresentation</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>org.openfaces.validation.defaultPresentationClass</param-name>
    <param-value>org.openfaces.component.validation.FloatingIconMessage</param-value>
  </context-param>

  <context-param>
    <param-name>org.openfaces.autoSaveFocus</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>org.openfaces.autoSaveScrollPos</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>/WEB-INF/navigation-rules.xml, /WEB-INF/faces-config.xml</param-value>
  </context-param>

  <!--JBOSS SEAM 2.0 RESOURCE SERVLET AND RESOURCE FILTER-->
    <!--
  <servlet>
    <servlet-name>Seam Resource Servlet</servlet-name>
    <servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Seam Resource Servlet</servlet-name>
    <url-pattern>/seam/resource/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>Seam ExpressionFilter</filter-name>
    <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Seam ExpressionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
        -->

  <!-- RICHFACES FILTER -->
  <filter>
    <display-name>RichFaces Filter</display-name>
    <filter-name>richfaces</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
  </filter>

  <!-- FILTER FOR PROCESSING INTERNAL OPENFACES RESOURCES -->
  <filter>
    <filter-name>ResourceFilter</filter-name>
    <filter-class>org.openfaces.util.ResourceFilter</filter-class>
  </filter> 

  <!-- RICHFACES FILTER MAPPING-->
  <filter-mapping>
    <filter-name>richfaces</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>

  <!-- MAPPING FOR OPENFACES RESOURCE FILTER -->
  <filter-mapping>
    <filter-name>ResourceFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>ResourceFilter</filter-name>
    <url-pattern>/openFacesResources/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>

  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>