.spinnerButton {
  background: #dddddd; 
}

.spinnerDefault {
  border: 1px solid #dddddd;
}

.spinnerRollover {
  border: 1px solid gray;
}

.spinnerFocused {
  border: 1px solid black;
}
