html{overflow-y:scroll;}
body{
	background:white url(../../images/menu/menu_bg.gif) repeat-x left top;
	height:100%;
	position:relative;
	min-width:990px;
	font: normal 10pt/1.5 "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	color:#3b3b3b;
	padding:0; margin:0;
}


h1{	font-size: 3em; margin:0; padding:12px 0 14px 7px; }
h2{	font-size: 2.5em; margin:0; padding-bottom:.2em; }
h3{	font-size: 175%; line-height:1.1em; margin:0;}
h4{	font-size: 135%; line-height:1.1em; padding-bottom:.25em; margin:0;}
h5{	font-size: 120%; line-height:1.1em; padding-bottom:.25em; margin:0;}
h5{	font-size: 100%; line-height:1.1em; padding-bottom:.25em; margin:0;}

#Content2 h4{padding-bottom:0.25em; margin:0;}
h2.Title{padding:25px 0 0 16px;}

a{ color:#007ece;	cursor: pointer;}
a.internal {}
a.external,
a.external_gray{
	display:inline-block;
	padding-right:7px;
	background: url(../../images/icons/external_link.gif) no-repeat right 4px;
	margin-right:-1px;
}
a.external_gray,
.QuickLinks a.external,
.SubMenu  a.external,
#frontLinks a.external,
#releaseNotesLink a.external,
#testimonials a.external,
.documentation a.external{background-image: url(../../images/icons/external_link_gray.gif);}
a.noarrow{background: none; padding-right: 0;}
a.subdomain {}
a.email {}
a.pdf{background: url(../../images/icons/files/inline_pdf.png) no-repeat left center; padding-left:16px; line-height:24px; display:inline-block;}
a.pdf_small{background: url(../../images/icons/files/inline_pdf_small.png) no-repeat left center; padding-left:10px; line-height:9px; display:inline-block;}
a:hover{color:#4ab9ff !important; border-color:#4ab9ff  !important;}
a.external:hover{ background-position: right -46px;}
a.selected {
	color: #000 !important;
	border:0 !important;	
}
a img{border:none;}

.DropDown h4.arrowed{}
.DropDown h4.arrowed a{position:relative;}
.DropDown h4.arrowed a span {
	background:transparent url(/images/icons/header_arrowed.png) no-repeat scroll right -3px;
	bottom:0;
	display:block;
	height:20px;
	position:absolute;
	right:-20px;
	width:20px;
}
.DropDown h4.arrowed a.active span {
	background-position:right -53px;
}

p {	margin:0 0 .5em 0;}


#Page{
	position:relative;
	min-height:100%;
	width:985px;
	margin: 0 auto;
}

#Content{
	clear: both;
	margin: 20px 0 0 10px;
	/*min-height:640px;*/
}
#Content2 {
	background-position:right 0;
	background-repeat:no-repeat;
	border-top:1px solid #9c9e96;
}


#Footer{
	margin:0;
	padding: 0 6px;
	overflow:hidden;
	color:#aeafad;
	font-size:.85em;
	line-height:4em;
}
#Footer .ColumnLeft{float:left; padding: 0 0 0 10px;}
#Footer .ColumnRight{text-align:right; margin-left:50%}
#search_field { width:162px; margin: 0 0.3em 0 0.5em; background:url(../../images/icons/enter.gif) no-repeat right center; border: solid 1px #999; padding:1px 3px;}
#search_field.empty { color:#999; }


.Component{margin-top:0 !important;}
.Component h3{color:#434343;}
.Component h3 a{color:#111;}
.Component h3 small{font-weight:normal; font-size:8pt;}

.Component .componentTabs{}
.Component .componentTabs table{border-collapse:separate; border-spacing: 10px;}
.Component .componentTabs table td{border:none; padding:0 5px; color:#111;}
.Component .componentTabs table .tab_style{cursor:pointer; border-bottom:1px dashed black; background:white;}
.Component .componentTabs table .selected_tab_style{border-bottom:none; background:white; font-weight:bold;}


.Contribute form dl{overflow:hidden; padding: 3px 0;}
.Contribute form dl dt{float:left; width:150px;}
.Contribute form dl dd{margin-left:170px;}
.Contribute form input[type=text],
.Contribute form input[type=password],
.Contribute form textarea{width:350px;}

.companyForm{background:#edf6f9 url(/images/backgrounds/career_form.png); border:1px solid #d2e8f1; position:relative; padding: 1em 2em 0; margin:1em 0 2em; zoom:1;}
.companyForm .companyForm_footer{position:relative; padding: .75em .5em .75em; margin: 1.5em -2em 0; background:#b8d9e7 url(/images/backgrounds/career_form_dark.png); zoom:1;}

.columnsDelimiter1 {
	background-image:url(/images/backgrounds/delimiter.gif);
	background-position:73.5% 0;
	background-repeat:repeat-y;
}
.columnsDelimiter2 {
	background-image:url(/images/backgrounds/delimiter.gif);
	background-position:32% 0;
	background-repeat:repeat-y;
}


.OpenFacesDemoImageHolder {
	position:absolute;
	z-index:100;
}
.OpenFacesRun {
	position:absolute;
	right:-5px;
	top:-20px;
}

#support_search {
	background:transparent url(/images/icons/enter.gif) no-repeat scroll right center;
	border:1px solid #999999;
	display:block;
	font-family:"Lucida Grande",Tahoma,Arial,Helvetica,sans-serif;
	font-size:1.3em;
	margin:8px 0 0;
	padding:1px 3px;
	width:785px;
}
/********************* Columns sets ***********************/

.container{	overflow:hidden;}
.clearfix {zoom:1;}
.clearfix:after {
	content: ' ';
	clear:both;
	display: block;
	width: 0; height: 0;
	overflow: hidden;
	font-size: 0;
}


/************* New Columns Layout **************/
/***** format: .Col3_1 = column 1 of 3; .Col3_23 = columns 2 and 3 merged of 3 etc.  *****/

.Col1_1{float:none;	margin: 1.5em 0 0 0;}

.Col2_1{float:left;	width:47%;	margin: 0 3% 0 0; padding: 1.5em 0 0 0;}
.Col2_2{float:none;	margin: 0 0 0 50%; zoom:1; padding: 1.5em 0 0 0;}

.Col3_1{float:left;	width:31%;	margin: 0 3% 0 0; padding: 1.5em 0 0 0;}
.Col3_12{float:left; width:65%; margin: 0; padding: 1.5em 0 0 0;}
.Col3_2{float:left;	width:31%;	margin: 0 3% 0 0; padding: 1.5em 0 0 0;}
.Col3_23{float:none; margin: 0 0 0 34%; zoom:1; padding: 1.5em 0 0 0;}
.Col3_3{float:none; margin: 0 0 0 68%; zoom:1; padding: 1.5em 0 0 0;}

.Col4_1{float:left;	width:22%;	margin: 0 3% 0 0; padding: 1.5em 0 0 0;}
.Col4_12{float:left; width:47%; margin: 0 3% 0 0; padding: 1.5em 0 0 0;}
.Col4_123{float:left; width:72%; margin: 0; padding: 1.5em 0 0 0;}
.Col4_2{float:left;	width:22%;	margin: 0 3% 0 0; padding: 1.5em 0 0 0;}
.Col4_23{float:left; width:47%;	margin: 0; padding: 1.5em 0 0 0;}
.Col4_234{float:none; margin: 0 0 0 25%; zoom:1; padding: 1.5em 0 0 0;}
.Col4_3{float:left; width:22%;	margin: 0 3% 0 0; padding: 1.5em 0 0 0;}
.Col4_34{float:none; margin:0 0 0 50%; zoom:1; padding: 1.5em 0 0 0;}
.Col4_4{float:none; margin:0 0 0 75%; zoom:1; padding: 1.5em 0 0 0;}

.Text{padding-left:7px;}
.hangingContent{margin-left:-1em; padding-left:1em;}

.menuStub {
	height: 40px;
}

.colorRect {
  display: block;
  font-size: 0;
  width: 12px;
  height: 12px;
  border: 1px solid gray;
}

.modalLayer {
  filter: alpha(opacity = 75);
  -moz-opacity: .75;
  opacity: .75;
  background: GhostWhite;
}

.menuPadded {margin-top: 260px !important;}