/**** Fonts ****/
.serif{ font-family: Georgia, "Times New Roman", Times, serif; }
.sans-serif,
.Inset *,
.systemRequirements,
.featureTitle,
h1, h2, h3, h4, h5, h6{	font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif; font-weight:normal;}
.large_numbers{font-family:"myriad pro", "Trebuchet MS", Arial, Helvetica, sans-serif;}
code, .monospace{font-family:"Courier New", Courier, monospace;}


ul.hang, .blogPost ul {}
ul.hang li, .blogPost ul li{
	list-style:none;
	background:url(../../images/icons/bullet_dash.png) no-repeat left -2px;
	padding-left:10px;
	margin-left:-10px;
	padding-top:1px;
	margin-bottom:.2em;
/*	line-height:130%;*/
}

ul.nohang li{
	list-style:none;
	padding-left:10px;
	margin-left:-10px;
	padding-top:1px;
	margin-bottom:0;
/*	line-height:130%;*/
}


ul.hang li ul.hang,
ul.nohang li ul.hang{
	margin-left:2em;
	font-size:80%;
}

ul.hang li ul.hang li{
	background-position: left -4px;
	line-height:120%;
}


/***** Features *****/

.quipukitRun {
	position:absolute;
	right:-5px;
	top:-20px;
}

.quipukitDemoImageHolder {
	position: absolute;
	z-index: 100;
} 

.announce{
	font-size:18pt;
	line-height:120%;
	margin-bottom:.25em;
	margin-top:1.1em;
}

/***** Testimonials *****/

#testimonials{color:#aaa; text-align:right;}
#testimonials dd{display:none;}
#testimonials q:before{content:'“';}
#testimonials q:after{content:'”';}

/***** Downloads *****/
.qk_download{padding: 0 0 0 28px; min-height:32px; background:url(../../images/icons/file_zip.png) no-repeat 0 0; margin-bottom:.5em; line-height:120%;}
.qk_download small{display: block; color:#a3a3a3;}

.file_release_lib{ background-image:url(../../images/downloads/icons/file_release_lib.png); padding: 0 0 0 34px;}
.file_release_src{ background-image:url(../../images/downloads/icons/file_release_src.png); padding: 0 0 0 34px;}
.file_release_demo{ background-image:url(../../images/downloads/icons/file_release_demo.png); padding: 0 0 0 20px; font-size:8pt;}
.file_release_demo_src{ background-image:url(../../images/downloads/icons/file_release_demo_src.png); padding: 0 0 0 20px; font-size:8pt;}
.file_nightly_lib{ background-image:url(../../images/downloads/icons/file_nightly_lib.png); padding: 0 0 0 20px; font-size:8pt;}
.file_nightly_src{ background-image:url(../../images/downloads/icons/file_nightly_src.png); padding: 0 0 0 20px; font-size:8pt;}
.file_nightly_demo{ background-image:url(../../images/downloads/icons/file_nightly_demo.png); padding: 0 0 0 20px; font-size:8pt;}
.file_previous{background:none; font-size:8pt; padding:0; min-height:0;}
.file_previous a{color:#888;}


/*******************  Colors styles   *********************/

.lightgray_box{background-color:#f9f9f9; margin-left:-1.5em; padding:1em 1em 1em 1.5em;}
.lightgray,
.lightgray a{ color:#aaa; }
.gray {	color: gray; border-color: gray;}
.darkgray{color:#5D5D5D;}
.black{color:#111;}
.darkred{color:#973e3e;}

/****************** Arrowed links styles *******************/
h4.arrowed a{position:relative; margin:0; padding:0;}
h4.arrowed a span{
	background:url(/images/bullets/h4_arrowed.png) no-repeat right -3px; 
	width:20px; height:20px; 
	right:-16px; bottom:0px; 
	position:absolute; display:block;
}

h4.arrowed a:hover span{background-position:right -28px;}
h4.arrowed a.active span{background-position:right -53px;}
h4.arrowed a.active:hover span{background-position:right -78px;}


span.arrowed a{	position:relative; margin:0; padding:0;}
span.arrowed a span{
	background:url(/images/bullets/p_arrowed.png) no-repeat right -5px; 
	width:20px; height:15px; 
	right:-20px; bottom:0; 
	position:absolute; display:block;}

.arrowed a:hover span{background-position:right -30px;}
.arrowed a.active span{background-position:right -55px;}
.arrowed a.active:hover span{background-position:right -80px;}

/*******************  Common styles   *********************/
.absolute{position:absolute;}
.relative{	position:relative; z-index:100; }

.center{ text-align:center; }
.textright{ text-align:right; }

.block{display:block;}
.clear{ clear:both; }
.compact{line-height:1.25em;}
.nomargin{margin:0 !important;}
.nomargintop{margin-top:0 !important;}
.nopaddingtop{padding-top:0 !important;}
.compensatetop{margin-top:-1.1em !important;}
.noheight { height: 0; }
.nowrap { white-space: nowrap; }
.notunderlined{text-decoration: none !important;}
.underlined{text-decoration: underline !important;}
.dashed {border-bottom-style:dashed; border-bottom-width:1px; text-decoration: none;}
.hide{display:none;}
.small{ font-size:85%;}
.thin{	font-weight:normal; }
.noBorder{	border: 0px;}
.transparent{	background: transparent;}
.top, .top td{ vertical-align:top; }

/******************Daytable pages*************************/
.eventWithBackground{
  background:transparent url(../../images/daytable/daytable-gradient.png) repeat-x left top;
}
.CalendarDate{
  text-align:center;
	position:relative;
	padding:0 .5em 0 0 !important;
	line-height:25px;
}
.CalendarDate .dayOfWeek{
	font-size:10px;
	line-height:10px;
	padding: 0 .25em;
}
.CalendarDate .date{line-height:1.5em;}
