#PageBackground div span{display:none;}

#Navigation{width:2100px;}
#Navigation ul{width:250px; background-image: url(../../images/ie6/navigation_ul.png);}
#Features{height:250px;}
#Logo,
#Floor,
#Shadow{background:none;}
#Footer{background-image:url(../../images/ie6/footer.png) !important;}

#Components{background-position:1px 0;}
#Components ul li a.AjaxFramework em {background-image:url(../../images/ie6/AjaxFramework.png);}

.png24{display:none;}
.png24_alt{display:inline !important;}