@charset "utf-8";
/* CSS Document */

.tabButton {
  background-color: transparent;
}

.tabButton div,
.tabButton:hover div{
	display:block;
	height:22px;
	background:#c0c1c2 url(../../images/buttons/tabButton.png) repeat-x 0 0;
	padding: 0 20px;
	color:#434343;
	border-top: 1px solid #fefefe;
	border-right:1px solid #a7a7a8;
	border-bottom:1px solid #a7a7a8;
	border-left: 1px solid #fefefe;
	line-height: 22px;
	cursor:pointer;
	text-decoration:none;
	text-align:center;                
	outline:none;
}
.tabButton:focus div,
.tabButton:active div{
	background-position: 0 -22px;
	background-color:#b5cdd2;
	border-top:1px solid #aff2ff;
	border-right:1px solid #53b8cb;
	border-bottom:1px solid #53b8cb;
	border-left:1px solid #aff2ff;
}

.tabButton_active div,
.tabButton_active:hover div,
.tabButton_active:focus div,
.tabButton_active:active div{
	background-position: 0 -44px;
	background-color:#bdbfbf;
	border-top:1px solid #9d9e9e;
	border-right:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	border-left:1px solid #9d9e9e;
}