<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Unit tests" verbose="8" thread-count="10">
  <listeners>
    <listener class-name="org.openfaces.tests.common.OpenfacesTestListener"/>
  </listeners>

  <test name="Firefox">
    <parameter name="browser" value="firefox"/>
    <parameter name="version" value=""/>
    <parameter name="platform" value="WINDOWS"/>

    <groups>
      <define name="">
        <include name="component"/>
        <!--<include name="ajax"/>-->
      </define>
    </groups>

    <packages>
      <package name="org.openfaces.tests.*" />
    </packages>
  </test>

  <test name="Chrome">
    <parameter name="browser" value="chrome"/>
    <parameter name="version" value=""/>
    <parameter name="platform" value="WINDOWS"/>

    <packages>
      <package name="org.openfaces.tests.*" />
    </packages>
  </test>

  <test name="IExplorer">
    <parameter name="browser" value="iexplorer"/>
    <parameter name="version" value=""/>
    <parameter name="platform" value="WINDOWS"/>

    <packages>
      <package name="org.openfaces.tests.*" />
    </packages>
  </test>
</suite>